// colors

$blue: #0597F2;
$red: #D10505;
$green: #038C4C;
$yellow: #F2B705;
$white: #ffffff;
$black: #000000;
$light-grey: #F8F8F8;
$dark-grey: #BEBEBE;
$medium-grey:#00000019;



// Margins & Heights

$desktop-header-height: 66px;
$max-width: 1920px;
$content-width: 1440px;

// Bulma Overrides

$link: $black;
$link-hover: $dark-grey;
$family-primary: 'Theinhardt', sans-serif;

//Bulma Utilities so breakpoints can be used in the entire application

@import "../../node_modules/bulma/sass/utilities/_all.sass";
