@import 'bulma/sass/utilities/mixins.sass';

// colors

$blue: #006fff;
$red: #d10505;
$green: #038c4c;
$yellow: #f2b705;
$white: #ffffff;
$black: #000000;
$light-grey: #f8f8f8;
$dark-grey: #bebebe;
$medium-grey: #00000019;
$hover-blue: #0482d1;

// project colors
$water: $blue;
$community: $red;
$love: $white;
$joy: $yellow;
$sustainability: $green;

// Margins & Heights
$mobile-header-height: 47px;
$desktop-header-height: 50px;
$max-width: 1920px;
$content-width: 1440px;

// Bulma Overrides

$link: $black;
$link-hover: $dark-grey;
$family-primary: 'Theinhardt', sans-serif;

//Bulma Utilities so breakpoints can be used in the entire application
